<template>
  <v-app-bar app color="primary" dense class="main-app-bar">
    <v-toolbar-title>AppOperadores</v-toolbar-title>

    <router-link to="/">
      <v-btn icon color="white" v-on="on">
        <v-icon>mdi-home</v-icon>
      </v-btn>
    </router-link>
    <div class="flex-grow-1"></div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn icon color="white" v-on="on">
          <v-icon>mdi-cog-outline</v-icon>
        </v-btn>
      </template>
      <span v-html="'Configuración'" />
    </v-tooltip>
    <menu-user-profile />
  </v-app-bar>
</template>

<script>
import MenuUserProfile from "./MenuUserProfile";

export default {
  name: "AppMainBar",
  components: { MenuUserProfile },
  data: () => ({
    dense: true
  })
};
</script>

<style scoped>
.v-btn:not(.v-btn--round).v-size--default {
  padding: 0 10px;
  border: none;
}
.v-badge img {
  height: 18px;
}
.v-list-item__icon {
  align-self: center;
}
.v-list-item__icon:first-child {
  margin-right: 10px;
}
.v-list-item__icon img {
  height: 18px;
}
.v-toolbar__title{
  color: white !important;
}
</style>
