<template>
  <v-menu offset-y v-model="menuProfile">
    <template v-slot:activator="{ on }">
      <v-btn icon color="white" v-on="on">
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>User System</v-list-item-title>
            <v-list-item-subtitle>acount@gmail.com</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list>
        <v-list-item>
          <v-list-item-action>
            <v-switch color="purple"></v-switch>
          </v-list-item-action>
          <v-list-item-title>Enable messages</v-list-item-title>
        </v-list-item>
      </v-list>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="menuProfile = false">Cancel</v-btn>
        <v-btn color="primary" text @click="menuProfile = false">Cerrar sesión</v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  name: 'MenuUserProfile',
  data: () => ({
    menuProfile: false,
    show: false,
  }),
};
</script>

<style scoped>
</style>
