<template>
   <div id="snackbarSuccess">
     <v-snackbar v-model="appSnackbar" :timeout="timeout" color="green lighten-5" class="green--text" border="left" :top="top">
    {{ appSnackbarMessage }}
    <v-btn class="green--text buttonClose" text @click="showAppSnackbar(false)">Close</v-btn>
  </v-snackbar>
   </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  name: 'AppSnackbarSuccess',
  computed: {
    ...mapState({
      appSnackbarMessageArrayState: (state) => state.appSnackbarMessageArrayState,
    }),
  },
  data: () => ({
    appSnackbar: false,
    appSnackbarMessage: null,
    timeout: 6000, // 6000 is the default value
    top: true,
  }),
  methods: {
    ...mapMutations({
      shiftAppSnackbarSuccessMut: 'shiftAppSnackbarSuccessMut',
    }),
    shiftAppSnackbarMessage() {
      [this.appSnackbarMessage] = Array.from(this.appSnackbarMessageArrayState);
      this.showAppSnackbar(true);
      this.shiftAppSnackbarSuccessMut();
    },
    showAppSnackbar(value) {
      this.appSnackbar = value;
    },
  },
  watch: {
    appSnackbarMessageArrayState() {
      if (!this.appSnackbar) {
        this.shiftAppSnackbarMessage();
      }
    },
  },
};
</script>

<style>
#snackbarSuccess .v-snack__content{
  border-left: #5C9E5E 5px solid !important;
  background-color: #EAF6EA !important;
  color: #5C9E5E !important;
}
#snackbarSuccess .buttonClose{
  border:#5C9E5E 2px solid;
}
</style>
