<template>
  <div class="home">
    <welcome-comp msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import WelcomeComp from '@/components/WecomeComp.vue';

export default {
  name: 'Home',
  components: {
    WelcomeComp,
  },
};
</script>
