<template>
  <div class="opradores">
    <operadores-comp/>
  </div>
</template>
<script>
import OperadoresComp from '../components/OperadoresComp';

export default {
  name: 'OperadoresView',
  components: {
    OperadoresComp,
  },
  data: () => ({
  }),
};
</script>

<style scoped>

</style>
