<template>
  <div id="operators-comp">
    <v-data-table :headers="headersOperatorTable" :items="operators" sort-by="name" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Lista de Operadores</v-toolbar-title>
          <v-divider class="mx-4" inset vertical/>
          <v-spacer/>
          <v-btn color="primary" dark class="mb-2" @click="newOperatorForm">Nuevo</v-btn>
        </v-toolbar>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
    <operador-form-comp :operator-obj="operator" @onClose="closeDialog" @onSave="saveOperator($event)"/>
    <bms-confirm-dialog ref="confirm"/>
  </div>
</template>

<script>

  import { mapActions, mapMutations, mapState } from 'vuex';
  import BmsConfirmDialog from './common/BmsConfirmDialog';
  import OperadorFormComp from "./OperadorFormComp";

  export default {
    name: 'OperadoresComp',
    components: {
      OperadorFormComp,
      BmsConfirmDialog,
    },
    data: () => ({
      title: 'Confirmar',
      headersOperatorTable: [
        { text: 'CI', value: 'ci' },
        { text: 'Apellido Paterno', value: 'paterno' },
        { text: 'Apellido Materno', value: 'materno', sortable: false },
        { text: 'Nombres', value: 'nombres' },
        { text: 'Fecha de Nacimiento', value: 'fecha_nacimiento', sortable: false },
        { text: 'Telefono', value: 'telefono', sortable: false },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      operator: {
        id: null,
        ci: '',
        paterno: '',
        materno: '',
        nombres: '',
        fecha_nacimiento: '',
        telefono: '',
      },
      defaultOperator: {
        id: null,
        ci: '',
        paterno: '',
        materno: '',
        nombres: '',
        fecha_nacimiento: '',
        telefono: '',
      },
    }),
    computed: {
      ...mapState('OperatorStore', ['operators', 'operatorDialog']),
    },
    methods: {
      ...mapActions('OperatorStore', ['getOperatorsAction', 'addOperatorAction', 'editOperatorAction', 'logicalDeleteAction']),
      ...mapMutations('OperatorStore', ['showOperatorDialogMut', 'hideOperatorDialogMut']),
      newOperatorForm() {
        this.operator = { ...this.defaultOperator };
        this.showOperatorDialogMut();
      },
      editItem(item) {
        this.operator = { ...item };
        this.showOperatorDialogMut();
      },
      deleteItem(item) {
        const question = '¿Quieres eliminar ' + item.nombres + '?';
        this.$refs.confirm.open(this.title, question).then((confirm) => {
          if (confirm) {
            this.logicalDeleteAction(item);
          }
        });
      },
      async saveOperator(operator) {
        if (operator.id) {
          await this.editOperatorAction(operator);
        } else {
          await this.addOperatorAction(operator);
        }
        this.closeDialog();
      },
      closeDialog() {
        this.hideOperatorDialogMut();
        this.operator = { ...this.defaultOperator };
      },
    },
    mounted() {
      this.getOperatorsAction();
    },
  };
</script>

<style scoped>

</style>
