<template>
  <div id="operatorFormComp">
    <v-dialog v-model="operatorDialog" max-width="400px" persistent>
      <v-card>
        <v-card-title class="blue darken-2 white--text">
          <span class="headline">Nuevo Operador</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <ValidationObserver ref="observer" v-slot="{ validate, reset }">
              <v-form ref="form">
                <v-text-field v-show="false" v-model="operatorForm.id"/>
                <ValidationProvider name="ci" rules="required" v-slot="{ errors }">
                  <v-text-field v-model="operatorForm.ci" :error-messages="errors" label="CI" required/>
                </ValidationProvider>
                <ValidationProvider name="paterno" rules="required" v-slot="{ errors }">
                  <v-text-field v-model="operatorForm.paterno" :error-messages="errors" label="Apellido Paterno" required/>
                </ValidationProvider>
                <ValidationProvider name="materno" rules="required" v-slot="{ errors }">
                  <v-text-field v-model="operatorForm.materno" :error-messages="errors" label="Apellido Materno" required/>
                </ValidationProvider>
                <ValidationProvider name="nombres" rules="required" v-slot="{ errors }">
                  <v-text-field v-model="operatorForm.nombres" :error-messages="errors" label="Nombres" required/>
                </ValidationProvider>
                <ValidationProvider name="fecha_nacimiento" rules="required" v-slot="{ errors }">
                  <v-text-field v-model="operatorForm.fecha_nacimiento" :error-messages="errors" label="Fecha De Nacimiento (YYYY-mm-dd)" required/>
                </ValidationProvider>
                <ValidationProvider name="telefono" rules="required" v-slot="{ errors }">
                  <v-text-field v-model="operatorForm.telefono" :error-messages="errors" label="Teléfono" required/>
                </ValidationProvider>
              </v-form>
            </ValidationObserver>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="onClose">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="onSave">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { ValidationObserver, ValidationProvider} from "vee-validate";

export default {
  name: 'OperadorFormComp',
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  props: {
    operatorObj: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapState('OperatorStore', ['operators', 'operatorDialog']),
  },
  data: () => ({
    operatorForm: {
      id: null,
      ci: '',
      paterno: '',
      materno: '',
      nombres: '',
      fecha_nacimiento: '',
      telefono: '',
    },
  }),
  methods: {
    async onSave() {
      const validated = await this.$refs.observer.validate();
      if (validated) {
        const operatorFormTemp = { ...this.operatorForm };
        await this.$emit('onSave', operatorFormTemp);
        this.resetForm();
      }
    },
    onClose() {
      this.$emit('onClose');
      this.resetForm();
    },
    resetForm() {
      this.$refs.form.reset();
      this.$refs.observer.reset();
    },
  },
  watch: {
    'operatorObj.id': function (id) {
      if (id) {
        this.operatorForm = { ...this.operatorObj };
      }
    },
  },
};
</script>

<style scoped>

</style>
