<!--
/**
 * Vuetify Confirm Dialog component
 * Insert component where you want to use it:
 *
 * <confirm ref="confirm"></confirm>
 *
 * Call it:
 * this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }).then((confirm) => {})
 * Or use await:
 * if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' })) {
 *   // yes
 * }
 * else {
 *   // cancel
 * }
 */
-->
<template>
  <div id="bmsConfirmDialog">
    <v-row justify="center">
      <v-dialog v-model="showDialog" persistent max-width="290" @keydown.esc="cancel">
        <v-card>
          <v-toolbar dense flat class="blue darken-2 white--text">
            <v-toolbar-title>{{ title }}</v-toolbar-title>
          </v-toolbar>
          <v-card-text v-show="!!message">
            <v-row>
              <v-col cols="12" sm="3">
                <span class="group pa-2">
                  <v-icon>mdi-delete-alert</v-icon>
                </span>
              </v-col>
              <v-col cols="12" sm="9">
                {{ message }}
              </v-col>
            </v-row>
          </v-card-text>
          <v-divider/>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="white" class="blue-grey" text @click.native="cancel">Cancelar</v-btn>
            <v-btn color="white" class="blue darken-2" text @click.native="agree">Si</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'BmsConfirmDialog',
  data: () => ({
    showDialog: false,
    resolve: null,
    reject: null,
    message: null,
    title: '',
  }),
  methods: {
    open(title, message) {
      this.showDialog = true;
      this.title = title;
      this.message = message;
      return new Promise((resolve, reject) => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },
    agree() {
      this.resolve(true);
      this.showDialog = false;
    },
    cancel() {
      this.resolve(false);
      this.showDialog = false;
    },
  },
};
</script>

<style scoped>
.v-icon{
  font-size: 50px;
  color: #607d8b;
}
.v-btn {
  text-transform: initial;
}
</style>
