<template>
  <v-app>
    <app-navigation-drawer/>
    <app-main-bar/>
    <!-- Sizes your content based upon application components -->
    <v-content>
      <!-- Provides the application the proper gutter -->
      <v-container fluid pa-2>
        <!-- If using vue-router -->
        <router-view></router-view>
        <app-snackbar-success/>
      </v-container>
    </v-content>
    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>

<script>
  import AppMainBar from './components/app/app_main_bar/AppMainBar';
  import AppSnackbarSuccess from './components/app/AppSnackbarSuccess';

  export default {
    name: 'App',
    components: {
      AppSnackbarSuccess,
      AppMainBar,
    },
  };
</script>
<style>
</style>
